@model ClassifiedAds.Models.MasterAdvertisementModel

@{
    ViewData["Title"] = "Advertisement Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalClicks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Advertisement.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
