@model IEnumerable<ClassifiedAds.Models.MasterAdvertisementModel>

@{
    ViewData["Title"] = "My Advertisements";
}

<h1>@ViewData["Title"]</h1>

<p style="padding-top: 50px">
    <a class="btn-primary" asp-action="Create">Create a New Advertisement</a>
</p>
<table class='table table-condensed table-responsive-lg text-nowrap table-hover'>
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Advertisement.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advertisement.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advertisement.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advertisement.CostPerClick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalClicks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(i => i.Advertisement.IsActive))
        {
            string opacity = item.Advertisement.IsActive ? null : "opacity: 0.5";
            <tr style="@opacity" onclick="location.href = '@(Url.Action("Edit", "Advertiser", new { id = item.Advertisement.Id }))'">
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Advertisement.Title)
                </td>
                <td class="col-6">
                    @Html.DisplayFor(modelItem => item.Advertisement.Description)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.Advertisement.Address)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.Advertisement.CostPerClick)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.TotalClicks)
                </td>
                <td class="col-1">
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
            </tr>
        }
    </tbody>
</table>
